<div>
	<aside class="col-xs-12 col-md-2">
		<h4>Current Members</h4>
		<ul type="square">
			<li>Nathan Williams</li>
			<li>Alex Gates</li>
			<li>Stephen Pope</li>
			<li>Brian Hill</li>
		</ul>
		
		<h4>Past Members</h4>
		<ul type="square">
			<li>Ryan Ulsh</li>
			<li>Zach Hill</li>
			<li>Billy Hayes</li>
			<li>Jacob Cooper</li>
		</ul>
	</aside>

	<article class="col-xs-12 col-md-10">
		<section>
			<h1>Current Members</h1>
			
			<h3>Nathan Williams</h3>
			<p>
			Wavves was conceived just after Williams, at age 21, quit his job as a clerk at Music Trader, while he was dividing his free time between skateboarding, writing for his hip-hop blog, Ghost Ramp, and making music using an '80s Tascam cassette recorder and Garage Band software.  Williams is a prolific writer of songs, but he is not a prolific recorder of them. Everything on his two albums was done during a one-month period, and he has released everything he's put down, aside from one temporarily scrapped song that he still vows to revisit.
			</p>

			<h3>Alex Gates</h3>
			<p>
			Alex Gates is a guitarist and is also a part of a new band called Cretin Stompers. He also provides back up vocals. After Hayes and Cooper left, Alex Gates and Brian Hill joined the band. Guitarist Alex Gates roars away on guitar, sporting the remnants of a black left eye, that likely has some good story behind it.
			</p>

			<h3>Stephen Pope</h3>
			<p>
			Stephen Pope loves drama. After a much-publicized break from Jay Reatard’s backing band in <time>2009</time>, Pope and drummer Billy Gibson defected to the ultra-hyped Wavves, with founding member Nathan Williams fresh from his Barcelona breakdown. But that lineup jump appears to have been an isolated circumstance: throughout Wavves’ subsequent tours, records, and gradual reputational facelift, Pope has remained firmly at Williams’ side. Popo gladly admits that members of Wavves like to party.
			</p>

			<h3>Brian Hill</h3>
			<p>
			Brian Hill began playing drums for Wavves in <time>2013</time>. He was formerly involved with The Soft Pack and The Plot to Blow Up the Eiffel Tower.
			</p>
		</section>

		<section>
			<h1>Past Members</h1>

			<h3>Ryan Ulsh</h3>
			<p>
			After quickly gaining notable recognition Ryan Ulsh was enlisted as a touring drummer and Wavves did the first US and Euro tours of many to come.  Ryan is now a member of '80s-style-punks Xray Eyeballs, a band called Swimmingcitiesoceanofblood and Nervehun. Ryan Ulsh was the drummer of Wavves that you might most remember from his appearance with Nathan at this year's Primavera Festival. Not surprisingly, things didn't work out between him and Nathan, and now the prolific Zach Hill (of Hella, etc.) is playing in Wavves.
			</p>

			<h3>Zach Hill</h3>
			<p>
			Zach Hill (born <time>December 28, 1979</time>) is an American drummer and visual artist. He is best known as the drummer of Sacramento-based experimental hip hop group Death Grips and math rock band Hella. Hill uses unconventional sounding cymbals, often referred to as "trash" cymbals. Hill's equipment tends to wear down very fast due to the combination of the speed and power of his playing, which has been known to break lug casings and bend the top hoops of his drums from the sheer force of his playing. In addition to music, Hill is also a visual artist. He published a fully illustrated book, Destroying Yourself is Too Accessible, which included the Zach Hill and Holy Smokes album "Masculine Drugs."
			</p>

			<h3>Billy Hayes</h3>
			<p>
			Billy Hayes is an American musician and former drummer and back-up vocalist for Wavves and Jay Reatard. He first performed in the psychedelic pop bands the Barbaras and the Boston Chinks, both based in Memphis, Tennessee. Hayes has a new band called Cretin Stompers, along with Alex Gates, a guitarist for Wavves, and BIG MUFF, a musician/producer based in Brooklyn, NY.
			</p>

			<h3>Jacob Cooper</h3>
			<p>
			Jacob Cooper, also known as Jacob Safari, is an American musician, remixer, record producer, songwriter, and occasional DJ. Cooper has been a drummer of the bands Wavves, The Mae Shi, and Signals, and previously had a band called Bark Bark Bark. He currently has a project called Heaven, which first appeared in <time>2012</time>. 
			</p>
		</section>
	</article>
</div>