<article>
	<aside class="pull-right"> 
		<a href="http://facebook.com/wavves" target="_blank" rel="nofollow" type="text/html"><img width="64" alt="Facebook" title="Facebook" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Facebook_Shiny_Icon.svg/64px-Facebook_Shiny_Icon.svg.png"/></a>

		<a href="http://open.spotify.com/artist/6bUJpbekaIlq2fT5FMV2mQ" target="_blank" rel="nofollow" type="text/html"><img width="64" alt="Spotify" title="Spotify" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Spotify_Shiny_Icon.svg/64px-Spotify_Shiny_Icon.svg.png"/></a>

		<a href="http://instagram.com/wavvesbro" target="_blank" rel="nofollow" type="text/html"><img width="64" alt="Instagram" title="Instagram" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Instagram_Shiny_Icon.svg/64px-Instagram_Shiny_Icon.svg.png"/></a>

		<a href="https://plus.google.com/u/0/b/106123332124920620312/106123332124920620312/posts" target="_blank" rel="nofollow" type="text/html"><img width="64" alt="Google Plus" title="Google Plus" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Google_Plus_Shiny_Icon.svg/64px-Google_Plus_Shiny_Icon.svg.png"/></a>

		<a href="http://twitter.com/wavves" target="_blank" rel="nofollow" type="text/html"><img width="64" alt="Twitter" title="Twiiter" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Twitter_Shiny_Icon.svg/64px-Twitter_Shiny_Icon.svg.png"/></a>

		<a href="http://youtube.com/wavves" target="_blank" rel="nofollow" type="text/html"><img width="64" alt="YouTube" title="YouTube" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/YouTube_Shiny_Icon.svg/64px-YouTube_Shiny_Icon.svg.png"/></a>
		
		<a href="https://www.tumblr.com/register/follow/wavveswavves" target="_blank" rel="nofollow" type="text/html"><img width="64" alt="Tumblr" title="Tumblr" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Tumblr-2.svg/64px-Tumblr-2.svg.png"/></a>
	</aside>

	<h1>Welcome to the Wavves homepage</h1>

	<section>
		<img src="http://41.media.tumblr.com/019a86a9cbb609e7e0945cc91ed6ba20/tumblr_nln3mbzwg41qcmeo4o1_500.png" class="pull-left page-home-img"/>
		<!-- &#160; is the same as &nbsp; -->
		<p>&#160;&#160;&#160;&#160;&#160;Wavves is an American rock band, based in San Diego, California. Formed in <time>2008</time> by singer-songwriter Nathan Williams, the band also features Alex Gates (guitar), Stephen Pope (bass) and Brian Hill (drums).</p>

		<h2>History</h2>

		<h3>Formation and early days</h3>

		<p>Wavves started in <time>2008</time> as the recording project of Nathan Williams. Wavves released several 7"s as well as a cassette leading up to the first two releases, Wavves (Woodsist) and Wavvves (Fat Possum/Bella Union). After gaining recognition, Ryan Ulsh was enlisted as a touring drummer and Wavves embarked on their first US and European tours. Wavves released their self-titled debut album in <time>2008</time>, subsequently drawing the attention of Pitchfork Media. At the time, the band consisted of guitarist Nathan Williams and drummer Ryan Ulsh.</p>

		<h3>Wavvves (<time>2009</time>-<time>2010</time>)</h3>

		<p>Their second full-length album, Wavvves, was released on <time>February 3, 2009</time>, and was well received by outlets such as Spin, A.V. Club, and Pitchfork.</p>

		<p>Singer Nathan Williams experienced a public breakdown as the band was unable to complete their set at the <time>2009</time> Barcelona Primavera Sound Festival. Williams, who admitted he had taken a cocktail of ecstasy and Valium, fought with drummer Ryan Ulsh and insulted the Spanish crowd, who then pelted him with bottles and a green shoe. Apologizing for their performance, Williams admitted the next day that he was addicted to alcohol. As a result, the band canceled the remainder of their European tour. When Ulsh quit the band, Zach Hill from Hella replaced him as the drummer for Wavves for a brief time. Two members formerly of the late Jay Reatard's band, drummer Billy Hayes and bassist Stephen Pope, joined Wavves in November 2009. Williams also reported that an album featuring Zach Hill on drums was to be expected towards the end of <time>2010</time> along with a possible EP featuring Hayes and Pope.</p>
		<img src="http://41.media.tumblr.com/b2b03d938aa6779570efd400718942d5/tumblr_nkraqovzu81qcmeo4o1_500.png" class="pull-right page-home-img"/>
		
		<h3>King of the Beach (<time>2010</time>-<time>2011</time>)</h3>
		
		<p>The third Wavves album, titled King of the Beach, was released on <time>August 3, 2010</time>, by Fat Possum Records, and featured the new lineup of Nathan Williams, Billy Hayes, and Stephen Pope. The album received generally positive reviews from the likes of Paste Magazine, Dusted Magazine, and The Onion's A.V. Club. The album received an average of 72 out of 100 on Metacritic, based on 26 critics reviews. The album was named the 24th-best album of the year by Spin, and the 50th best album of the year by Pitchfork. The group's single "Post Acid" was featured in a 3 minute and fifty second promotional cartoon called: "Scott Pilgrim vs. the Animation"</p>

		<p>Wavves released a new EP, Life Sux, in <time>September 2011</time>. It consisted of six tracks, including cameos from Bethany Cosentino and Bob Bruno from Best Coast, also Damian Abraham from Fucked Up. The album also contains a live track "In the Sand".</p>

		<p>Billy Hayes left Wavves in <time>November 2010</time> and was replaced by Jacob Cooper, formerly of The Mae Shi.</p>

		<p>In <time>2011</time>, Wavves made a guest appearance in the short-lived MTV animated series Good Vibes, performing their songs "King of the Beach," "Bug," and "I Wanna Meet Dave Grohl".</p>

		<h3>Afraid of Heights (<time>2012</time>-<time>2013</time>)</h3>

		<p>Wavves appeared on Big Boi's Vicious Lies and Dangerous Rumors, on the song "Shoes for Running," which was released <time>December 11, 2012</time>.</p>

		<p>On <time>December 12, 2012</time> Wavves released a music video for the song "Sail to the Sun." Nathan Williams announced the release on his Twitter.</p>

		<p>Wavves released their fourth studio album, Afraid of Heights on <time>March 26, 2013</time> on Mom + Pop Music. The album peaked at #81 on the Billboard 200, the band's highest charting album to date. Still in Rock ranked the album third best of <time>2013</time>. The second single from the album, "Demon to Lean On" reached #36 on Billboard's Alternative Songs chart. The band also made their network television debut on the Late Show with David Letterman, performing "Demon to Lean On".</p>

		<p>Their song "Nine Is God" is exclusive to the video game Grand Theft Auto V, where band members Nathan and Stephen host Vinewood Boulevard Radio, the station which plays the track. The band performed the song on Conan in support of the game. The opening notes to the track "Dog" can be also be heard in the game during the introduction of the "Third Way" ending.</p>

		<h3>Fifth studio album and Cloud Nothings collaboration album (<time>2014</time>-present)</h3>

		<p>In early <time>January 2015</time>, Nathan Williams had announced that he will be releasing a new Wavves studio album by summer of that year along with a collaboration album with Cloud Nothings titled No Life For Me.</p>
		
	</section>
</article>