<article>
	<h1>Wavves Merch</h1>

	<div class="merch">
		<h3>THEM WHITE Tank</h3>

		<a href="http://shop.thehyv.net/collections/wavves/products/them-white-tank" target="_blank">
			<img src="img/shirt2.png"/>
		</a>
	</div>

	<div class="merch">
		<h3>YIN YANG BEANIE</h3>

		<a href="http://shop.thehyv.net/collections/wavves/products/yin-yang-beanie" target="_blank">
			<img src="img/shirt3.png"/>
		</a>
	</div>

	<div class="merch">
		<h3>STACKED TEE</h3>

		<a href="http://shop.thehyv.net/collections/wavves/products/stacked-tee" target="_blank">
			<img src="img/shirt4.png"/>
		</a>
	</div>

	<div class="merch">
		<h3>DANCING BARTS TEE</h3>

		<a href="http://shop.thehyv.net/collections/wavves/products/dancing-barts-tee" target="_blank">
			<img src="img/shirt5.png"/>
		</a>
	</div>

	<div class="merch">
		<h3>WAVVES HOCKEY JERSEY</h3>

		<a href="http://shop.thehyv.net/collections/wavves/products/wavves-hockey-jersey" target="_blank">
			<img src="img/shirt6.png"/>
		</a>
	</div>

	<div class="videofooter">
		<a class="footer" style="font-weight: bold; font-size: 24;" href="img/wavves-1440x900-wallpaper-1129695.png">Have A Free Desktop Wallpaper!</a>
	</div>

	<div class="videofooter">
		<a class="footer" href="http://shop.thehyv.net/collections/wavves" target="_blank">Check out our merch</a>
	</div>
</article>