<section>
	<h1>Wavves Shows</h1>

	<!--Temp Styles ready for CSS-->
	<style>
	td {
		padding: 70px;
		border-bottom: solid 1px #959595;
	}

	tr:hover { 
		background-color: rgba(255, 255, 255, 0.65); 
	}
	
	tr { 
		padding: 20px; 
	}
	</style>

	<!--Main Table Structure-->
	<div>
		<table align="center">
		<caption>Shows in April</caption>
			<tr>
				<td class="center1">
					
					<h3>4/11/2015</h3>
					
				</td>

				<!--Generate separate window for links-->
				<td>
					<h3><a href="https://www.facebook.com/events/795416913877351/" target="_blank">
					San Antonio, TX @ Maverick Festival
					</a></h3>
					
				</td>
				<!--Generate separate window for links-->
				<td class="center1">
					
					<h3><a href="https://www.facebook.com/LaVillitaHistoricArtsVillage" target="_blank">
					La Villita Historic Arts Village
					</a></h3>
					
				</td>
			</tr>	
		</table>
				<!--Second Table-->
		<table align="center">
		<caption>Shows in May</caption>
			<tr class="a">
				<td class="center1">
					
					<h3>5/08/2015</h3>
					
				</td>
				<!--Generate separate window for links-->
				<td>
					
					<h3><a href="https://www.facebook.com/events/887104878007746/" target="_blank">
					Atlanta, GA @ Shaky Knees Music Festival
					</a></h3>
					
				</td>
				<!--Generate separate window for links-->
				<td class="center1">
					
					<h3><a href="https://www.facebook.com/pages/Central-Park-Atlanta-Ga/521192644618595" target="_blank">
					Central Park Atlanta, GA
					</a></h3>
					
				</td>
			</tr>
		</table>
	</div>
</section>