<article>
	<h1>Wavves Videos</h1>
				
	<div class="page">
		<h3>Wavves - "Afraid of Heights"</h3>
		<iframe src="https://www.youtube.com/embed/cbP2N1BQdYc" frameborder="0" allowfullscreen=""></iframe>
	</div>

	<div class="page">
		<h3>Wavves - "King of the Beach"</h3>
		<iframe src="https://www.youtube.com/embed/YDdueeBf7MY" frameborder="0" allowfullscreen=""></iframe>
	</div>

	<div class="page">
		<h3>Wavves - "Post Acid"</h3>
		<iframe src="https://www.youtube.com/embed/-vBqazs3j3A" frameborder="0" allowfullscreen=""></iframe>
	</div>

	<div class="page">
		<h3>Wavves - "Demon to Lean On"</h3>
		<iframe src="https://www.youtube.com/embed/p2H5YVfZVFw" frameborder="0" allowfullscreen=""></iframe>
	</div>

	<div class="videofooter">
		<a class="footer" href="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/YouTube_Shiny_Icon.svg/64px-YouTube_Shiny_Icon.svg.png"><b>Wavves YouTube page</b></a>
	</div>
</article>